.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.align-btn-row {
  display: flex;
  justify-content: space-between;
}
